
*,*::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Bright-Blue: hsl(220, 98%, 61%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
img{
    max-width: 100%;
    display: block;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
    background-image: url("./images/bg-mobile-light.jpg");
    background-color: var(--Very-Light-Gray);
    background-repeat: no-repeat;    
}
button,a{
    border:0;
    background-color: transparent;
    text-decoration: none;
}
.todo{
    width: 85%;
    max-width: 30rem;
    margin: 0 auto;
    min-height: 80vh;
    
    padding: 3rem 1.5rem;
    /* border: 1px solid yellow; */
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    color:white;    
}
.header h1{
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.header img{
    height: 1.5rem;
    width: 1.5rem;
}
form{
    margin-bottom: 1rem;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Very-Light-Gray);
    border-radius: 0.3rem;
    /* padding: 0.2rem 1rem; */
}
.todo-add,.todo-input{
    border:0;
      
}
.circle{
    height: 1.1rem;
    width:1.1rem;
    border-radius: 50%;
    border:0.2px solid var(--Very-Light-Grayish-Blue);
    cursor: pointer;
}
.todo-add{    
    margin-left:1rem;
    
    background-color: white;
}
.todo-input{
    flex:1;
    border-radius: 0.3rem;
    font-size: 1.125rem;
    padding: 0.8rem;
    font-family: 'Josefin Sans', sans-serif; 
    /* background-color: var(--Very-Dark-Blue); */
}
.todo-input:focus{
    outline: none;
}
.todo-list{
    background-color: white;    
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:0 1rem;
    border-bottom: 0.8px solid var(--Very-Light-Grayish-Blue);
}
.todo-item li{
    flex-grow:1;
    padding: 0.8rem;
    /* background-color: var(--Very-Dark-Blue); */
}
.delete{
    cursor: pointer;
    height: 1.1rem;
    width: 1.1rem;
    opacity: 0;
    /* background-color: blanchedalmond; */
}
.check{
    opacity: 0;
}
.todo-item:hover .delete,.todo-item:hover .check{
    opacity: 1;
}
.filter{   
    text-align: center;
    padding: 1rem 0;
    background-color: white;
}
.btn-filter{
    text-transform: capitalize;  
    cursor: pointer; 
}
.btn-filter + .btn-filter{
    margin-left: 1rem;
}
.btn-filter:focus{
    color: var(--Bright-Blue);
}


@media(min-width:376px){
body{
    background-image: url("./images/bg-desktop-light.jpg");
}}    

